RewriteEngine On

#disable for these file types
RewriteCond %{REQUEST_URI} !\.css$
RewriteCond %{REQUEST_URI} !\.png$
RewriteCond %{REQUEST_URI} !\.jpg$
RewriteCond %{REQUEST_URI} !\.js$
RewriteCond %{REQUEST_URI} !\.zip$
RewriteCond %{REQUEST_URI} !\.html

RewriteRule . index.php

ErrorDocument 404 http://dev.mswlive.com/admin-inventory/error/404.html
ErrorDocument 403 http://dev.mswlive.com/admin-inventory/error/403.html
ErrorDocument 500 http://dev.mswlive.com/admin-inventory/error/500.html